@tailwind base;
@tailwind components;
@tailwind utilities;



.slick-dots li button:before {
    background-color: #FFC425;
    height: 10px;
    width: 10px;
    text-indent: -9999px;
    overflow:hidden; 
}